<a href="{% url 'boxes' %}">Go Back</a>
<h1>Box: {{box}}</h1>
<h1>Host Name: {{box.hostname}}</h1>
<h2>Services:</h2>
<table>
    <thead>
        <tr>
            <th>Port</th>
            <th>Protocol</th>
            <th>State</th>
            <th>Name</th>
            <th>Version</th>
            <th>OS</th>
        </tr>
    </thead>
    <tbody>
    {% for b in box.boxservice_set.all %}
        <tr>
            <td>{{b.port}}</td>
            <td>{{b.protocol}}</td>
            <td>{{b.state}}</td>
            <td>{{b.name}}</td>
            <td>{{b.version}}</td>
            <td>{{b.os}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p>Active: {{box.active}}</p>
<p>Comments: {{box.comments}}</p>