{% extends 'base/main.html' %}
{% block content %}
{%load static%}
<div class="header row">
    <div class="col">
        <h1>User: {{request.user|title}}</h1>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>

    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
    </div>
    <div class="col" style="float:right;margin:auto;">
        <a href ="{% static 'client.py' %}" download="client.py"><input class="btn btn-info" type="submit" value="Download Client Script"></a>
    </div>
</div>



<hr>
<div class="container">
<div class="row">
  <!-- BEGIN SEARCH RESULT -->
  <div class="col-md-12">
    <div class="grid search">
      <div class="grid-body">
        <div class="row">
          <!-- BEGIN RESULT -->
          <div class="col-md-9">
            <h2 id="counter">Le BonBon Network (Machines: {{count}})</h2>
            <hr>

            <div class="input-group">
                <form method="GET" class="input-group mb-3">
                    <input type="text" class="form-control" value="{{search_input}}" method="GET" name="search" placeholder="Search by IP or Hostname">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </form>
            </div>
            <!-- END SEARCH INPUT -->
            <p>Showing all results matching {{search_input}}</p>
            
            <div class="padding"></div>
            
            <div class="row">
              <!-- BEGIN ORDER RESULT -->

              <!-- END ORDER RESULT -->

            </div>

            {% block javascript %}

            <script type="text/javascript">
                setInterval("refresh()", 5000);
                //todo set csrf token
                /**
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        // if not safe, set csrftoken
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                **/
                function refresh() {
                    var collapse = $("div.show")[0];
                    var aid = $("div#accordion").find(collapse).attr("id");
                    //alert(JSON.stringify(aid));
                    $.ajax({
                        url: document.URL,
                        type: 'post',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({"stat": aid}),
                        //FIX WHY ITS NOT REFRESHING PAGE
                        success: function(response) {
                            var resp = JSON.parse(response);
                            $('#accordion').load(document.URL + ' #accordion');
                            $('#counter').load(document.URL + ' #counter');
                        },

                        error: function(response) {

                        }
                    });
                }
            </script>
            {%endblock javascript%}
            <!-- BEGIN TABLE RESULT -->
            <div id="accordion">
                {% for box in boxes%}
                <style type="text/css">
                {% if box.pwned %}
                #heading{{box.id}} {
                    background:#38b838; !important;
                }
                {% elif box.active %}
                #heading{{box.id}} {
                    background:#f39c12 !important;
                }
                {% else %}
                #heading{{box.id}} {
                    background:rgb(230, 230, 230)  !important;
                }
                #assignee {
                    color:black !important;
                }
                {%endif%}
                </style>
                <div class="card">
                    <div class="card-header row" id="heading{{box.id}}" style="margin:0;padding:0;">
                        
                        <div style="margin:auto" class="col-1">
                            <button style="margin:auto;float:left;" class="btn btn-link close" data-toggle="collapse" data-target="#collapse{{box.id}}" aria-expanded="false" aria-controls="collapse{{box.id}}" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="col" style="margin:auto">
                            <button class="btn btn-link close col" data-toggle="collapse" data-target="#collapse{{box.id}}" aria-expanded="false" aria-controls="collapse{{box.id}}" aria-label="Close" style="margin:auto;height:100%;width:100%;display:block;padding:20px;">
                                <h5 style="text-shadow:none;">
                                    {{box.hostname}} | {{box.ip}}
                                </h5>
                            </button>
                        </div>

                        <div class="col-md-2" style="margin:auto;">
                            <h6 style="color:black">Assigned to: <b id="assignee" style="color:white; font-size:14; ">{{box.user}}</b></h6>
                        </div>
                            <div class="col-md-1" style="margin:auto;">
                            <a class="abut" href="{% url 'box-update' box.id %}"><button type="button" class="btn btn-info">Edit</button></a>
                        </div>
                    </div>
                    <div id="collapse{{box.id}}" class="collapse" aria-labelledby="heading{{box.id}}" data-parent="#accordion">
                        <div class="card-body table-responsive">
                            <h4>OS: <b>{{box.os}}</b></h5>
                            <h4>Services </h5>
                            <hr />
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                    <th scope="col">Port</th>
                                    <th scope="col">Protocol</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Version</th>
                                    <th scope="col">Script Output</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for b in box.boxservice_set.all %}
                                    <tr>
                                    <th scope="row">{{b.port}}</th>
                                    <td>{{b.protocol}}</td>
                                    <td>{{b.state}}</td>
                                    <td>{{b.name}}</td>
                                    <td>{{b.version}}</td>
                                    <td>{{b.script}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                             <hr>
                            <h4>Comments:</h4>
                            {{box.comments}}
                        </div>
                    </div>
                </div>
                {% empty %}
                <h3>No Boxes yet</h3>
                {% endfor %}
            </div>

            <!-- END TABLE RESULT -->
            
          </div>
          <!-- END RESULT -->
        </div>
      </div>
    </div>
  </div>
  <!-- END SEARCH RESULT -->
</div>
</div>


<!--start 

    <h1>Boxes</h1>
    <form method="GET">
        <input type="text" placeholder="Search for IP or host name" name="search" value="{{search_input}}">
        <input type="submit" value="Search">
    </form>

    <table>
        <tr>
            <th>Hosts</th>
            <th></th>
        </tr>
        {% for box in boxes%}
        <tr>
            <td>{{box.hostname}} | {{box.ip}}</td>
            <td><a href="{% url 'box-detail' box.id %}">View</a></td>
            <td><a href="{% url 'box-update' box.id %}">Edit</a></td>
        </tr>
        {% empty %}
        <h3>No Boxes yet</h3>
        {% endfor %}
    </table>

    <h3><a href="{%url 'box-upload' %}">Upload</a></h3>
here-->

{%endblock content%}