{% extends 'base/main.html' %}
{% block content %}
{%load static%}
<div class="header row">
    <div class="col">
        <h2>User: {{request.user|title}}</h2>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>

    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
    </div>
    <div class="col" style="float:right;margin:auto;">
        <a href ="{% static 'client.py' %}" download="client.py"><input class="btn btn-info" type="submit" value="Download Client Script"></a>
    </div>
</div>



<hr>
<div class="container">
<div class="row">
  <!-- BEGIN SEARCH RESULT -->
  <div class="col-md-12">
    <div class="grid search">
      <div class="grid-body">
        <div class="row">
          <!-- BEGIN RESULT -->
          <div class="col-md-9">
            <h2 id="counter">Le BonBon Croissants Network (Machines: {{count}})</h2>
            <hr>

            <div class="input-group">
                <form method="GET" class="input-group mb-3">
                    <input type="text" class="form-control" value="{{search_input}}" method="GET" name="search" placeholder="Search by IP or Hostname">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </form>
            </div>
            <!-- END SEARCH INPUT -->
            <p>Showing all results matching {{search_input}}</p>
            
            <div class="padding"></div>
            
            <div class="row">
              <!-- BEGIN ORDER RESULT -->

              <!-- END ORDER RESULT -->

            </div>

            {% block javascript %}

            <script type="text/javascript">
                setInterval("refresh()", 5000);
                function setStorage() {
                    $('#accordion').on('shown.bs.collapse', '.collapse', function() {
                        localStorage.setItem("coll_" + this.id, true);
                    })

                    $('#accordion').on('hidden.bs.collapse', '.collapse', function() {
                        localStorage.setItem("coll_" + this.id, false);
                    })

                }
                function setIcons() {
                    $("#accordion").on('show.bs.collapse', '.collapse', function() {
                        $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
                    })
                    $("#accordion").on('hide.bs.collapse', '.collapse', function() {
                        $(this).prev(".card-header").find(".fa").addClass("fa-plus").removeClass("fa-minus");
                    })
                }

                function getStorage() {
                    $(".collapse").each(function() {
                        $(this).prev(".card-header").find(".fa").addClass("fa-plus").removeClass("fa-minus");
                        if (localStorage.getItem("coll_" + this.id) == "true") {
                            $(this).collapse("show");
                            $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
                        }
                    })
                }

                $(document).ready(function() {
                    $.ajaxSetup({ cache: false });
                    setStorage();
                    getStorage();
                    setIcons();
                })

                function refresh() {

                    $.ajax({
                        url: document.URL,
                        type: 'post',
                        cache: false,
                        //contentType: 'application/json',
                        //data: JSON.stringify({"stat": aid}),
                        //FIX WHY ITS NOT REFRESHING PAGE
                        success: function() {

                            $('#accordion').load(document.URL + " #accordion", function() {
                                getStorage();
                                setIcons();
                            });
                            $('#counter').load(document.URL + " #counter");
                        },

                        error: function(response) {
                                
                        }
                    });

                    /**
                    $.get(document.URL, function(data, status) {
                        $('#accordion').load(document.URL + ' #accordion');
                        $('#counter').load(document.URL + ' #counter');
                        //alert("tests");
                    })
                    **/
                }
            </script>
            {%endblock javascript%}
            <!-- BEGIN TABLE RESULT -->
            <div id="accordion">
                {% for box in boxes%}
                <style type="text/css">
                {% if box.pwned %}
                #heading{{box.id}} {
                    background:#4bbb4b; !important;
                }
                {% elif box.active %}
                #heading{{box.id}} {
                    background:#ffb339 !important;
                }
                {% else %}
                #heading{{box.id}} {
                    background:rgb(230, 230, 230)  !important;
                }
                #assignee {
                    color:black !important;
                }
                {%endif%}
                </style>
                <div class="card">
                    <div class="card-header row p-3" id="heading{{box.id}}" style="margin:0;padding:0;cursor: pointer;" data-toggle="collapse" data-target="#collapse{{box.id}}" aria-expanded="false" aria-controls="collapse{{box.id}}" aria-label="Close">
                        <div class="col-md-1" style="margin:auto;">
                                <i class="fa fa-plus"></i>
                        </div>
                        <div class="col" style="margin:auto;">
                            <h5 style="text-shadow:none;text-align:center;">{{box.hostname}} | {{box.ip}}</h5>
                        </div>
                        <div class="col-md-2" style="margin:auto;">
                            <h6 class="float-right" style="color:black;">Assigned to: <b id="assignee" style="color:white; font-size:14; ">{{box.user}}</b></h6>
                        </div>
                        <div class="col-md-1" style="margin:auto;">
                            <a class="abut float-right" href="{% url 'box-update' box.id %}"><button type="button" class="btn btn-info">Edit</button></a>
                        </div>
                    </div>
                    <div id="collapse{{box.id}}" class="collapse" aria-labelledby="heading{{box.id}}" data-parent="#accordion">
                        <div class="card-body table-responsive">
                            {% if box.hostname %}
                            <h5>Host: <b>{{box.hostname}}</b></h5>
                            {% endif %}
                            <h5>IP: <b>{{box.ip}}</b></h5>
                            <h5>OS: <b>{{box.os}}</b></h5>
                            <br>
                            <h4>Services </h4>
                            <hr />
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                    <th scope="col">Port</th>
                                    <th scope="col">Protocol</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Version</th>
                                    <th scope="col">Script Output</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for b in box.boxservice_set.all %}
                                    <tr>
                                    <th scope="row">{{b.port}}</th>
                                    <td>{{b.protocol}}</td>
                                    <td>{{b.state}}</td>
                                    <td>{{b.name}}</td>
                                    <td>{{b.version}}</td>
                                    <td>{{b.script}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                             <hr>
                            <h4>Comments:</h4>
                            {{box.comments}}
                        </div>
                    </div>
                </div>
                {% empty %}
                <h3>No Boxes yet</h3>
                {% endfor %}
            </div>
            <!-- END TABLE RESULT -->
            
          </div>
          <!-- END RESULT -->
        </div>
      </div>
    </div>
  </div>
  <!-- END SEARCH RESULT -->
</div>
</div>



{%endblock content%}